[Desktop Entry]
Name=Vector
Comment=Game written in C
Exec=/usr/bin/vector %F
Icon=/usr/share/icons/logo.jpg
Terminal=true
Type=Application
Version=1.1.2
GenericName=game
Categories=Game;