[Desktop Entry]
Name=Vector
Comment=Game written in C
Exec=/usr/bin/vector %F
Icon=/usr/share/icons/logo.png
Terminal=true
Type=Application
Version=1.1.1
GenericName=game
Categories=Game;